<!-- Footer -->
<footer class="page-footer font-small fixed-bottom mt-auto">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 container">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Léna Clavier &amp; Valentine Lav</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->